%a.js-btn.buy-button{ data: { call: 'buy-tickets' } }
  %div.buy-button__count
    %span= amount
  %div.buy-button__price
    = "#{price} ₽"



-# %a.buy-button{href: "/orders/create?order[round_id]=#{round_id}&order[amount]=#{amount}"}